
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Medium.eot');
	src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

.card__container {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    background-image: url("../img/bg.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #121212;
    max-width: 1920px;
}

@media (max-width: 992px) {
    .card__container {
        max-width: 970px;
        max-height: 724px;
    }
}

@media (max-width: 540px) {
    .card__container {
        flex-wrap: wrap;
        justify-content: center;
        max-height: 1700px;
    }
}

.card__foto-img {
    max-height: 977px;
}

@media (max-width: 992px) {
    .card__foto-img {
        max-width: 372px;
        min-height: 658px;
    }
}

@media (max-width: 540px) {
    .card__foto-img {
        min-width: 390px;
        min-height: 689px;
    }
}

.card__foto-bg {
    padding: 14px 0;
    font-weight: 400;
    font-size: 64px;
    color: #fff;
    background-color: #121212;
    text-align: center;
}

@media (max-width: 992px) {
    .card__foto-title {
        font-size: 36px;
    }
}

@media (max-width: 540px) {
    .card__foto-title {
        font-size: 24px;
    }
}

.content__container {
    max-width: 1090px;
    margin: 70px 162px 0 70px;
}

@media (max-width: 992px) {
    .content__container {
        margin: 20px 162px 0 45px;
    }
}

@media (max-width: 540px) {
    .content__container {
        max-width: 390px;
        margin: 16px 75px 16px 75px;
    }
}

.content__name-names {
    font-size: 48px;
}

@media (max-width: 992px) {
    .content__name-names {
        font-size: 32px;
    }
}

@media (max-width: 540px) {
    .content__name-names {
        font-size: 24px;
    }
}

.content__name-city {
    padding-top: 20px;
    font-size: 24px;
}

@media (max-width: 992px) {
    .content__name-city {
        font-size: 20px;
    }
}

@media (max-width: 540px) {
    .content__name-city {
        padding-top: 10px;
        font-size: 18px;
    }
}

.content__links {
    display: flex;
    gap: 30px;
    padding: 50px 0;

}

@media (max-width: 992px) {
    .content__links {
        padding: 30px;
    }
}

@media (max-width: 540px) {
    .content__links {
        padding: 16px 0;
    }
}

@media (max-width: 540px) {
    .content__links-img {
        max-height: 32px;
    }
}


.content__stack-elems {
    display: flex;
    margin: 20px 0 50px 0;
    gap: 25px;
}


@media (max-width: 992px) {
    .content__stack-elems {
        flex-wrap: wrap;
        margin: 20px 0 30px 0;
        max-width: 474px;
        gap: 20px;
    }
}


.title {
    font-size: 32px;
}

@media (max-width: 992px) {
    .title {
        font-size: 24px;
    }
}


@media (max-width: 540px) {
    .title {
        font-size: 20px;
    }
}

.content__stack-elem {
    padding: 14px 55px;
    font-size: 32px;
    background: #414141;
    border-radius: 45px;
    color: #fff;
}

@media (max-width: 992px) {
    .content__stack-elem {
        padding: 10px 45px;
        font-size: 24px;
    }
}

@media (max-width: 540px) {
    .content__stack-elem {
        padding: 8px 35px;
        font-size: 16px;
    }
}

.content__text {
    max-width: 1026px;
    padding: 20px 0 50px 0;
    text-indent: 30px;
}

@media (max-width: 992px) {
    .content__text {
        min-width: 530px;
        font-size: 20px;
        padding: 20px 0 20px 0;
    }
}

@media (max-width: 540px) {
    .content__text {
        min-width: 354px;
        padding: 10px 0 16px 0;
    }
}


@media (max-width: 540px) {
    .content__text {
        font-size: 16px;
    }
}

.content__text-p2 {
    padding-top: 16px;
}


@media (max-width: 992px) {
    .content__forms-form {
        font-size: 24px;
    }
}

@media (max-width: 541px) {
    .content__forms-form {
        padding: 0 auto;
        font-size: 16px;
    }
}

.content__forms-inputs {
    gap: 25px;
}

@media (max-width: 992px) {
    .content__forms-inputs {
        gap: 20px;
    }
}

.content__forms-input {
    padding: 14px 0 14px 16px;
    border: 1px solid #121212;
    border-radius: 11px;
    max-width: 338px;
    background: #FFFFFF;
}

@media (max-width: 992px) {
    .content__forms-input {
        padding: 10px 0 10px 16px;
        max-width: 232px;
    }
}

::-webkit-input-placeholder {
    color: #121212;
}

.content__forms-button {
    margin-top: 25px;
    padding: 14px 207px;
    border-radius: 11px;
    background: #121212;
    color: #fff;
}

.content__forms-btn :hover {
    opacity: 0.5;
    color: #FFFFFF;
}

@media (max-width: 992px) {
    .content__forms-button {
        margin-top: 20px;
        padding: 10px 139px;
    }
}

@media (max-width: 540px) {
    .content__forms-button {
        margin-top: 16px;
        padding: 8px 123px;
    }
}